body{
	font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 940px;
}


.results-container {
	
	max-width: 750px;
	/*width: 100%;*/
	float: left;
	margin-left: 2%;
    margin-right: 2%;
}

.container-left {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-left: 5% !important;
}

.map-wrapper {
	float: left;
	max-width: 450px;
	width: 100%;
}

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }

.overlay-dark {
	position: absolute;
	height: 75%;
	width: 100%;
	background-color: #000;
	opacity: .8;
}