body{
	font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 940px;
}

.container-left {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-left: 5% !important;
}

.overlay-dark {
	position: absolute;
	height: 75%;
	width: 100%;
	background-color: #000;
	opacity: .8;
}